.App1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  padding-top: 5vh;
  flex-direction: column;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-decoration-line: underline;
  justify-content: center;
  text-decoration-style: double;
  font-size: calc(10px + 5vmin);
  color: white;
}
.App2 {
  background-color: palegreen;
  padding-top: 5vh;
  margin-left: 10%;
  margin-right: 10%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding-left: 1%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-table {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
